Repository xorforce/teleport: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-fmt, go-mod-tidy, swiftlint

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd teleport-cli && golangci-lint run --config=../.golangci.yml --fix ./...'
  language: system
  pass_filenames: false

go-fmt:
  name: go fmt
  entry: bash -c 'cd teleport-cli && gofmt -s -w .'
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'cd teleport-cli && go mod tidy'
  language: system
  pass_filenames: false

swiftlint:
  name: SwiftLint
  entry: swiftlint lint --config .swiftlint.yml
  language: system

Merge branch into Phase-2
  .pre-commit-config.yaml
Due: none

fix: resolve Homebrew detection in macOS app
  teleport-app/teleport-app.xcodeproj/project.pbxproj
  teleport-app/teleport-app/Services/HomebrewService.swift
  teleport-app/teleport-app/teleport-app.entitlements
Due: swiftlint

feat: add casks support to Homebrew model
  teleport-app/teleport-app/Models/Manifest.swift
Due: swiftlint

feat: improve package display UI with search functionality
  teleport-app/teleport-app/Models/Category.swift
  teleport-app/teleport-app/Views/CategoryDetailView.swift
  teleport-app/teleport-app/Views/MainView.swift
Due: swiftlint

fix: show loading state immediately in category views
  teleport-app/teleport-app/Views/CategoryDetailView.swift
Due: swiftlint

feat(cli): add casks support for parity with Swift app
  teleport-cli/internal/detector/homebrew.go
  teleport-cli/internal/exporter/export.go
  teleport-cli/internal/manifest/manifest.go
Due: golangci-lint, go-fmt, go-mod-tidy

feat(cli): add category selection flags for export
  teleport-cli/cmd/export.go
  teleport-cli/internal/exporter/export.go
Due: golangci-lint, go-fmt, go-mod-tidy

fix: point Xcode SwiftLint build phase to repo config
  teleport-app/teleport-app.xcodeproj/project.pbxproj
  teleport-app/teleport-app/Services/MiseService.swift
  teleport-app/teleport-app/Services/NodePackageService.swift
Due: swiftlint

chore: increase file length limit to 1000 lines
  .swiftlint.yml
Due: none

chore: fix linting for the gui app
  teleport-app/teleport-app/Models/Manifest.swift
  teleport-app/teleport-app/Services/ArchiveService.swift
  teleport-app/teleport-app/Services/HomebrewService.swift
  teleport-app/teleport-app/Views/CategoryDetailView.swift
  teleport-app/teleport-appUITests/teleport_appUITestsLaunchTests.swift
Due: swiftlint

Fix sandbox access for Mise and Node package detection
  teleport-app/teleport-app/Services/MiseService.swift
  teleport-app/teleport-app/Services/NodePackageService.swift
Due: swiftlint

feat: Phase 2 - Package Manager Detection with Enhanced UI and CLI Parity (#2)
  .pre-commit-config.yaml
  .swiftlint.yml
  teleport-app/teleport-app.xcodeproj/project.pbxproj
  teleport-app/teleport-app/Models/Category.swift
  teleport-app/teleport-app/Models/Manifest.swift
  teleport-app/teleport-app/Services/ArchiveService.swift
  teleport-app/teleport-app/Services/HomebrewService.swift
  teleport-app/teleport-app/Services/MiseService.swift
  teleport-app/teleport-app/Services/NodePackageService.swift
  teleport-app/teleport-app/Views/CategoryDetailView.swift
  teleport-app/teleport-app/Views/MainView.swift
  teleport-app/teleport-app/teleport-app.entitlements
  teleport-app/teleport-appUITests/teleport_appUITestsLaunchTests.swift
  teleport-cli/cmd/export.go
  teleport-cli/internal/detector/homebrew.go
  teleport-cli/internal/detector/mise.go
  teleport-cli/internal/detector/node.go
  teleport-cli/internal/exporter/export.go
  teleport-cli/internal/manifest/manifest.go
Due: golangci-lint, go-fmt, go-mod-tidy, swiftlint

chore: move homebrew tap to separate repository
  .github/workflows/release.yml
  README.md
  homebrew-tap/Casks/teleport.rb
  homebrew-tap/Formula/teleport-cli.rb
  homebrew-tap/README.md
Due: none

docs: update homebrew install instructions for xorforce/tap
  README.md
Due: none

ci: update release workflow for xorforce/tap
  .github/workflows/release.yml
Due: none

Path conditions:
  golangci-lint: any of: ^teleport-cli/.*\.go$
  go-fmt: any of: ^teleport-cli/.*\.go$
  go-mod-tidy: any of: ^teleport-cli/(go\.mod|go\.sum|.*\.go)$
  swiftlint: any of: \.swift$, but not: \.build/
